body {
    font-size: 14px;
    min-width: 320px;
    min-height: 998px;
    overflow-x: hidden;
    color: $darkGray;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}