$white: #fff;
$black: #000;
$darkGray: #333b46; //title section
$darkGray-2: #464646; //same subtitle
$gray: #81868e; //text
$blue: #3b5998; //social-1
$blue-2: #26a6d1; //social-2
$darkBlue: #323a45;
$aqua: #19bd9a;
$lightGray: #f3f3f3;