$white: #fff;
$darkGray: #262626;
$aqua: #00c4c4;
$lightGray: #b9b9b9;
$gray: #9d9d9d;  //полоска в блоках где помидор
$orange: #ff6033;
$purple: #b07cf7;
$steelBlue: #355b82; //полоска в блоках формы
$green: #96b92c;
$yellow: #ffe92f;
$steelBlue2: #5585a2;
$lightBlue: #70bfff;
$pink: #ff2b58;
$red: #f72b3b;
$lightGray2: #f9f8fb;  //фон header
$lightBlue0: #eaf6ff;
$darkGray0: rgba(38, 38, 38, 0.5);
$aqua0: rgba(0, 196, 196, 0.5);