*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  text-decoration: none;
  border: none;
}

textarea {
  resize: none;
}