$white: #fff;
$seaGreen: #33cccc;
$lightGray: #666;
$coral: #ff6666;
$text: #333;
$blue: #66cccc;
$black: #000;
$purple: #d56ea6;
$lightBlue: #79cbcb;  // social icon footer
$gray: #eeefea;
$whiteOpasity: rgba(255, 255, 255, 0.8);