$white: #fff;
$darkGray: #232323;
$whiteOpasity: rgba(255, 255, 255, 0.5);
$gray: #e8e8e8; //text
$blue: #5474fd;
$white2: #fefefe;
$coral: #ff6363;
$aqua: #00a2ff;
$lightGray: #999999; //plaseholder
$darkBrown: #333;
$blackOpasity: rgba(0, 0, 0, 0.7);