@import url(./fontawesome-all.css);
@import url(./pe-icon-7-stroke.css);
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a,
button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  text-decoration: none;
  border: none; }

input {
  border: none;
  outline: none; }

@font-face {
  font-family: 'aleoregular';
  src: url("../webfonts/aleo-regular-webfont-webfont.woff2") format("woff2"), url("../webfonts/aleo-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Josefin Sans', Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  overflow-x: hidden;
  color: #e8e8e8;
  background-color: #232323; }

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px; }

.title {
  font-family: 'aleoregular', "Times New Roman", Times, serif;
  font-size: 36px;
  color: #fff;
  line-height: 1; }

.text {
  letter-spacing: 0.1em; }
  .text span {
    display: inline-block; }
    .text span:not(:last-of-type) {
      margin-bottom: 30px; }

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  font-family: 'aleoregular', "Times New Roman", Times, serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.08em;
  /*   display: flex;
  justify-content: space-around;
  align-items: center; */
  padding: 0 20px; }
  .btn:hover {
    background: #224bfc; }

.header {
  background: url(../img/bg-header.jpg) no-repeat center;
  background-size: cover;
  position: relative; }
  .header__wrapper {
    height: 100%;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__menu-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    background-color: #5474fd;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0; }
  .header__logo {
    font-size: 24px;
    font-weight: 700; }
    .header__logo a {
      color: #fff;
      text-transform: uppercase; }
  .header__nav {
    font-family: 'aleoregular', "Times New Roman", Times, serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%; }
    .header__nav a {
      color: #fff;
      text-transform: uppercase; }
  .header__text {
    color: #fff; }
  .header__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1em; }
  .header__sudtitle {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.3em;
    margin-bottom: 50px; }
  .header__searh {
    max-width: 655px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
    margin-bottom: 120px; }
    .header__searh input {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      padding-right: 150px; }
      .header__searh input::-webkit-input-placeholder {
        color: #999999;
        font: 400 14px/26px 'Josefin Sans', Tahoma, Verdana, Segoe, sans-serif;
        letter-spacing: 0.20em;
        text-align: center; }
      .header__searh input::-moz-placeholder {
        color: #999999;
        font: 400 14px/26px 'Josefin Sans', Tahoma, Verdana, Segoe, sans-serif;
        letter-spacing: 0.20em;
        text-align: center; }
      .header__searh input:-moz-placeholder {
        color: #999999;
        font: 400 14px/26px 'Josefin Sans', Tahoma, Verdana, Segoe, sans-serif;
        letter-spacing: 0.20em;
        text-align: center; }
      .header__searh input:-ms-input-placeholder {
        color: #999999;
        font: 400 14px/26px 'Josefin Sans', Tahoma, Verdana, Segoe, sans-serif;
        letter-spacing: 0.20em;
        text-align: center; }
      .header__searh input:focus {
        border: 1px solid #5474fd; }
  .header__searh-btn {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 146px;
    height: 56px;
    background-color: #5474fd;
    font-family: 'aleoregular', "Times New Roman", Times, serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px; }
    .header__searh-btn:hover {
      background: #224bfc; }
  .header__scroll {
    font-size: 14px; }

.pe-7s-search:before {
  content: "\e618";
  color: #fff;
  font-size: 25px; }

.pe-7s-angle-down:before {
  content: "\e688";
  color: #fff;
  font-size: 30px; }

.why-us {
  background: url(../img/bg-why-us.jpg) no-repeat center;
  background-size: cover; }
  .why-us__wrapper {
    height: 100%;
    min-height: 680px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .why-us__info {
    width: 50%;
    height: 100%;
    padding-right: 15px; }
  .why-us__photo {
    width: 50%;
    height: 100%; }
  .why-us__title {
    margin-bottom: 60px; }
  .why-us__text {
    margin-bottom: 45px; }
  .why-us__photo {
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .why-us__photo-item {
    max-width: 350px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 5px; }
  .why-us__photo-item1 {
    display: flex;
    justify-content: flex-start; }
  .why-us__photo-item2 {
    display: flex;
    justify-content: flex-end; }

.book {
  background-color: #333; }
  .book__wrapper {
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .book__item {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .book__name {
    font-family: 'aleoregular', "Times New Roman", Times, serif;
    font-size: 36px;
    color: #e8e8e8;
    letter-spacing: 0.08em; }

.svg-icon {
  height: 70px;
  margin-bottom: 30px; }
  .svg-icon--searh path {
    fill: #5474fd; }
  .svg-icon--check path {
    fill: #ff6363; }
  .svg-icon--like path {
    fill: #00a2ff; }

.spain__left {
  background: url(../img/bg-section-villa.jpg) no-repeat center;
  background-size: cover; }
.spain__right {
  background: url(../img/bg-section-sea.jpg) no-repeat center;
  background-size: cover; }
.spain__wrapper {
  height: 100%;
  min-height: 700px;
  display: flex;
  position: relative; }
.spain__block {
  max-width: 540px;
  width: 100%;
  padding: 50px 30px 0 30px;
  background-color: rgba(0, 0, 0, 0.7); }
.spain__name {
  font-size: 20px;
  letter-spacing: 0.08em;
  margin-bottom: 30px; }
.spain__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px; }
.spain__text {
  margin-bottom: 45px; }
.spain__left-block {
  position: absolute;
  left: 0;
  bottom: 100px; }
.spain__right-block {
  position: absolute;
  right: 0;
  bottom: 100px; }
.spain__btn {
  margin-bottom: 50px; }

.tourist {
  background: url(../img/bg-tourist-say.jpg) no-repeat center;
  background-size: cover; }
  .tourist__wrapper {
    min-height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .tourist__title {
    margin-bottom: 100px; }
  .tourist__item {
    display: flex;
    width: 100%;
    min-height: 280px; }
  .tourist__photo {
    width: 40%;
    object-fit: cover; }
    .tourist__photo img {
      height: 100%; }
  .tourist__info {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 60%;
    padding: 45px 55px; }
  .tourist__name {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .tourist__feedback {
    text-indent: 20px; }
    .tourist__feedback::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      content: "\f10d";
      color: #5474fd;
      font-size: 30px; }
  .tourist__wrapper-tab {
    position: relative; }
  .tourist__tab {
    position: absolute;
    bottom: -90px;
    right: 0; }
  .tourist__tab-control {
    width: 80px;
    height: 50px;
    background: none;
    border: 2px solid #fff; }
    .tourist__tab-control:hover {
      background-color: rgba(255, 255, 255, 0.5); }

.pe-7s-angle-left:before {
  content: "\e686";
  color: #fff;
  font-size: 50px; }

.pe-7s-angle-right:before {
  content: "\e684";
  color: #fff;
  font-size: 50px; }

.footer {
  background-color: #232323; }
  .footer__wrapper {
    min-height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__title {
    padding-top: 120px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.14em; }
  .footer__subtitle {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 25px; }
  .footer__socials {
    display: flex; }
    .footer__socials a {
      color: #fff;
      font-size: 22px; }
      .footer__socials a:not(:last-of-type) {
        margin-right: 20px; }
      .footer__socials a:hover {
        color: #5474fd; }

/*# sourceMappingURL=main.css.map */
